:root {
  --color-cd-dark-green: hsla(123, 56%, 41%, 1);
  --color-cd-light-green: hsla(86, 63%, 42%, 1);
  --color-cd-brown-ish: hsla(42, 28%, 50%, 1);
  --color-cd-light-ish: hsla(48, 9%, 90%, 1);
  --color-cd-dark-ish: hsla(38, 11%, 20%, 1);
}

/* generic elements */
.nested-links a {
  color: var(--color-cd-light-green);
  text-decoration: none;
}
.nested-links a:hover, .nested-links a:focus {
  color: var(--color-cd-dark-green);
  text-decoration: underline;
}

blockquote {
  --blockquote-hue: 45;
  --blockquote-color: hsla(var(--blockquote-hue), 100%, 50%, .35);
  background: var(--blockquote-color);
  padding-left: .5em;
  box-shadow: 0 0 0 .75em var(--blockquote-color);
}
blockquote > blockquote { --blockquote-hue: 90; }
blockquote > blockquote > blockquote { --blockquote-hue: 135; }
blockquote > blockquote > blockquote > blockquote { --blockquote-hue: 180; }
blockquote > blockquote > blockquote > blockquote > blockquote { --blockquote-hue: 225; }
blockquote > blockquote > blockquote > blockquote > blockquote > blockquote { --blockquote-hue: 270; }
blockquote > blockquote > blockquote > blockquote > blockquote > blockquote > blockquote { --blockquote-hue: 315; }
blockquote > blockquote > blockquote > blockquote > blockquote > blockquote > blockquote > blockquote { --blockquote-hue: 360; }


/* layout elements */

header.page-header {
  --bg-color: var(--color-cd-light-green);
  background: var(--bg-color);
}

.bg-top {
  height: 14em;
  box-sizing: border-box;
  background-image: url('../img/Banner-Frühling.web.opti.svg');
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;
  border: 1em solid transparent;
}

@media screen and (max-width: 60em) {
  .bg-top {
    height: 20vw;
    border-width: .5em;
  }
}

.page-nav {
  --nav-height: 4em;
  background: var(--color-cd-dark-ish);
  height: var(--nav-height);
  padding: 0 1em;
}
.page-nav nav, .page-nav nav > * {
  height: 100%;
}
.page-nav ul.nav-list {
  margin: 0;
  padding: 0;
  height: 100%;
}
.page-nav .nav-list li {
  height: 100%;
  display: inline-flex;
  align-items: center;
  padding: .5em 1em;
}
.page-nav .nav-list li.active {
  background: hsla(38, 0%, 0%, 1);
  color: var(--color-cd-light-green);
}
.page-nav .nav-list li.active a {
  color: inherit;
}

@media screen and (max-width: 42em) {
  .page-nav {
    padding: 0;
  }
  .page-nav,
  .page-nav nav,
  .page-nav nav > *,
  .page-nav ul.nav-list {
    height: auto;
  }
  .page-nav .nav-list li {
    display: flex;
    height: var(--nav-height);
  }
}

.mainLayoutContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.mainLayoutContainer .sidebar {
  --sidebar-width: 21rem;
  /* width: var(--sidebar-width); */
  margin-top: 7rem;
  margin-right: .5rem;
}
.mainLayoutContainer .sidebar .sidebarBlock {
  border: 1px solid var(--color-cd-brown-ish);
  border-radius: .5em;
  margin-bottom: 2rem;
  overflow: hidden;
  width: var(--sidebar-width);
}
.mainLayoutContainer .sidebar .sidebarBlock>* {
  padding: .75rem 1rem;
}
.mainLayoutContainer .sidebar .sidebarBlock header {
  font-size: .9em;
  text-transform: uppercase;
  color: var(--color-cd-brown-ish);
  border-bottom: 1px solid var(--color-cd-brown-ish);
  background-color: var(--color-cd-light-ish);
}
@media screen and (max-width: 70em) {
  .mainLayoutContainer {
    flex-direction: column;
  }
  .mainLayoutContainer .sidebar {
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
    flex-direction: row;
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: center;
    flex-wrap: wrap;
  }
  .mainLayoutContainer .sidebar .sidebarBlock {
    margin: 1rem 1rem;
  }
}

/* content elements */

.titlesTable .styleSelect {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  margin-bottom: .5em;
}
.titlesTable .styleSelect > * {
  margin: .2em 1em .2em 0;
}
.titlesTable .styleSelect input[type=radio] {
  display: none;
}
.titlesTable .styleSelect label[for] {
  display: inline-block;
  cursor: pointer;
  user-select: none;
  padding: .2em .5em;
  border: .1em solid var(--color-cd-dark-ish);
  color: var(--color-cd-light-green);
}
.titlesTable .styleSelect label[for]:hover,
.titlesTable .styleSelect label[for]:focus {
  border-color: var(--color-cd-dark-green);
  color: var(--color-cd-dark-green);
}
.titlesTable .styleSelect input[type=radio]:checked + label[for] {
  background: var(--color-cd-dark-green);
  border-color: var(--color-cd-dark-green);
  color: var(--color-cd-light-ish);
  cursor: default;
}

.titles.full-list .title {
  text-align: left;
}
.titles.full-list .system {
  text-align: right;
}
.titles.full-list tbody .system > th {
  padding-top: .75em;
}

.titlesTable .updatedAt {
  margin-top: .5em;
}
.titlesTable .updatedAt .updating {
  display: inline-block;
  color: var(--color-cd-brown-ish);
  font-size: .7em;
  margin-left: 1em;
}
.titlesTable .updatedAt .updating.error {
  color: #ff0077;
}
.loadingTitles .titlesTable .updatedAt .updating::before {
  content: 'aktualisiere ...';
}
.loadingTitles .titlesTable .updatedAt .updating::after {
  content: '';
  display: inline-block;
  box-sizing: border-box;
  margin-left: .5em;
  width: 1.2em;
  height: 1.2em;
  border-radius: .6em;
  border: .15em solid;
  border-color: var(--color-cd-light-green) transparent transparent transparent;
  animation: 2s infinite linear spinningLoadingCircle;
}
@keyframes spinningLoadingCircle {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.titlesTable,
.multiversumTable {
  font-size: .85em;
}

table.titles,
.multiversumTable table {
  border: 0 none;
  border-collapse: collapse;
  width: 100%;
}


table.titles th,
table.titles td,
.multiversumTable table th,
.multiversumTable table td {
  padding: .21em .5em;
}
table.titles thead th,
.multiversumTable table thead th {
  border-bottom: .2em solid var(--color-cd-dark-ish);
}
.multiversumTable table thead th:nth-of-type(1) {
  min-width: 10em;
  text-align: left;
}
table.titles tbody td,
.multiversumTable table tbody td {
  border: solid var(--color-cd-dark-ish);
  border-width: .1em 0;
}
.multiversumTable table tbody td:first-of-type {
  white-space: nowrap;
}
.multiversumTable table tbody td:last-of-type {
  text-align: right;
  white-space: nowrap;
}


@media screen and (max-width: 70em) {
  .multiversumTable table,
  .multiversumTable table,
  .multiversumTable th,
  .multiversumTable td {
    display: block;
  }
  .multiversumTable tr {
    display: block;
    border: solid var(--color-cd-dark-ish);
    border-width: 0 0 .1em 0;
    display: grid;
    grid-template-columns: 2fr 1fr;
  }
  .multiversumTable table thead th,
  .multiversumTable table tbody td {
    border: 0 none;
    padding: .05em .5em;
  }
  .multiversumTable table thead th.release,
  .multiversumTable table tbody td.release {
    grid-column: 1;
    grid-row: 1;
  }
  .multiversumTable table thead th.quote {
    display: none;
  }
  .multiversumTable table tbody td.quote {
    grid-column: 1 / 3;
    grid-row: 2;
  }
  .multiversumTable table thead th.size,
  .multiversumTable table tbody td.size {
    font-size: .8em;
    color: var(--color-cd-brown-ish);
    grid-column: 2;
    grid-row: 1;
    text-align: right;
  }
}
