<section class="sidebarBlock">
  <header>
    Multiversum Flugblatt
  </header>
  <main>
    <a href="{{ ref $.Page "multiversum.md" }}">
      <img src="/img/multiversum.svg" alt="Logo des Multiversum-Flugblatts" />
    </a>
  </main>
</section>
<section class="sidebarBlock">
  <header>
    Newsletter & Mailinglisten
  </header>
  <main>
   

    <b>Newsletter August:</b><br /><br />

    Inhalt:<br /><br />

    1. <b>Anmeldung zur Freizeit 2027</b><br />
    2. <b>SchwefelDrAachenCon</b> <br />
    3. <b>Monatstreffen</b><br /><br /><br />


    Es ist endlich wieder soweit! Die Anmeldung für die Freizeit 2027 ist offiziell eröffnet!
Kommt mit für 4 Tage (und Nächte) Rollenspiele, Brettspiele, und Austausch unter Gleichgesinnten auf der Freusburg nahe Siegen.<br />
Weitere Infos sowie das Anmeldungsformular findet ihr auf unserer Webseite unter https:<br />
    //rpg-librarium.de/events/2027-01-06-freizeit/<br /><br />

    Wer keine 5 Monate warten kann sei auf die SchwefelDrAachenCon verwiesen, die wir dieses Jahr schon am 8./9. August in der Mefferdatisstr. 14-18 veranstalten.<br />
    Der Eintritt ist frei, und ihr seid herzlich eingeladen ab 10:00 an Rollenspielrunden und Workshops teilzunehmen, oder die Stände der Aussteller zu begutachten.<br />
Interessierte Spielleitungen können sich in diesem Etherpad eintragen: https://etherpad.rpg-librarium.de/p/SchwefeldrAachenCon2026<br /><br />

    Last but not least findet natürlich am 16.08. wieder unser Monatstreffen ab 19:00 im Papillon statt. Wir freuen uns wenn ihr zahlreich erscheint. :)<br /><br /><br />

  </main>
</section>
<!--
<section class="sidebarBlock">
  <header>
    Auch in Aachen
  </header>
  <main>
    <div class="tc">
      <strong>Der 2-wöchige</strong>
    </div>
    <a href="https://rpg-aachen.de">
      <img src="/img/flyer_rpg-aachen.jpg" />
    </a>
  </main>
</section>
-->
