<section class="sidebarBlock">
  <header>
    Multiversum Flugblatt
  </header>
  <main>
    <a href="{{ ref $.Page "multiversum.md" }}">
      <img src="/img/multiversum.svg" alt="Logo des Multiversum-Flugblatts" />
    </a>
  </main>
</section>
<section class="sidebarBlock">
  <header>
    Newsletter & Mailinglisten
  </header>
  <main>
   

    <b>Newsletter Juli:</b><br /><br />

    Nach der Hitzewelle nun die heißesten News! <br /><br />

    Inhalt:<br /><br />

    1. <b>Rollenspielabend</b><br />
    2. <b>SchwefelDrAachenCon schon im August!</b> <br />
    3. <b>Anmeldung Freizeit 2027</b><br />
    4. <b>Monatstreffen</b><br /><br /><br />


    Es haben sich genug Spielleiter gefunden, somit kann der Rollenspielabend mit der Fachschaft I/1 stattfinden! 
    Strömt zahlreich am Samstag, den 18. Juli 2026, ab 16:00 Uhr ins SemiTemp (Schinkelstraße 15), um Rollenspiele mit uns zu spielen. 
    Es gibt keine Anmeldung für Spieler:innen, kommt einfach vorbei.<br /><br />

    Save the date: am 8./9. August ist die SchwefelDrAachenCon. Diesmal etwas früher im Jahr, schreibt es schonmal in alle Kalender! 
    Wie in den letzten Jahren gibt es die Möglichkeit, Rollenspiele zu spielen, zu leiten, es gibt Workshops und Aussteller. 
    Freut euch auf ein geschichtenreiches Wochenende mit coolen Menschen!<br /><br />

    Teaser: Wo wir bei Kalendern waren, im August öffnet die Anmeldung zur Freizeit (06.-10.01.2027). 
    Wie jedes Jahr fahren wir auf die Freusburg im Siegerland und verbringen zusammen eine spielreiche Woche. 
    Der Anmeldezeitraum wird bis Ende September laufen.<br /><br />

    Das Monatstreffen des Vereins findet im Juli wie üblich am Donnerstag den 16.07. um 19:00 im Papillon statt.<br /><br /><br />

  </main>
</section>
<!--
<section class="sidebarBlock">
  <header>
    Auch in Aachen
  </header>
  <main>
    <div class="tc">
      <strong>Der 2-wöchige</strong>
    </div>
    <a href="https://rpg-aachen.de">
      <img src="/img/flyer_rpg-aachen.jpg" />
    </a>
  </main>
</section>
-->
