<section class="sidebarBlock">
  <header>
    Multiversum Flugblatt
  </header>
  <main>
    <a href="{{ ref $.Page "multiversum.md" }}">
      <img src="/img/multiversum.svg" alt="Logo des Multiversum-Flugblatts" />
    </a>
  </main>
</section>
<section class="sidebarBlock">
  <header>
    Newsletter & Mailinglisten
  </header>
  <main>
    <b>Newsletter August:</b><br /><br />

    16. August Monatstreffen:<br /><br />

    Wie an jedem 16ten eines Monats findet auch im August wieder unser Monatstreffen statt. Da letzten Monat unser Sommerfest wetterbedingt nicht stattfinden konnte, versuchen wir es diesen Monat erneut. Wir hoffen bei gutem Wetter mit euch unser kleines Sommerfest draußen zu feiern.<br />
    Dafür treffen wir uns am Samstag den 16. August, ab 17:00 im Westpark. Wir werden einen Grill stellen und diesen ab 17:00 anheizen. Grillgut muss selbst mitgebracht werden. Ansonsten werden wir da auch wieder gemütlichen Quatschen.<br />
    Wir freuen uns auf euch.<br /><br /><br />


    Save the date: Samstag, 30. August, Exkursion nach Köln "Sagen &amp; Legenden":<br /><br />

    Der Librarium macht einen Ausflug! Gemeinsam fahren wir nach Köln zu einer professionellen Stadtführung unter dem Motto „Sagen &amp; Legenden“. Denn in der Geschichte unserer Nachbarstadt stecken Fantasy, Krimi, Spuk, Intrige, Drama und vieles mehr.<br />
    Wenn ihr Interesse habt teilzunehmen, teilt uns das bitte kurz per Mail mit.<br />
    Und für die Veteran:innen unter euch: Ja, das ist die Neuauflage des Events von vor ein paar Jahren. Natürlich dürft ihr wieder mit – aber nicht spoilern!<br /><br /><br />


    Es folgen die nächsten anstehenden Events des Librarium (Achtung Freizeit!):<br /><br />

    13.-14. September: SchwefeldrAachen-Con:<br />
    Unsere Mini-Convention geht in die nächste Runde. Weitere Informationen findet ihr auf unserer <a href="https://rpg-librarium.de/events/2025-09-13-schwefeldraachen-con/">Webseite</a>.<br /><br />

    Rollenspielfreizeit auf der Freusburg 2026:<br />
    Die Anmeldung für unsere Rollenspielfreizeit auf der Freusburg ist ab jetzt bis zum 30.09 offen. Weitere Infos sowie das Anmeldeformular findet ihr auf unserer <a href="https://rpg-librarium.de/events/2026-01-10-freizeit/">Webseite<a/>.<br /><br /><br />


    Nächster Termin Vorstandssitzung:<br />
    Falls ihr schon immer Mal in die Arbeit des Vorstands reinschauen wollt könnt ihr gerne jederzeit bei einer unserer Vorstandssitzungen vorbeischauen. Die nächste wird am 31.08 um 19:00 finden. Falls ihr vorbeikommen wollt sagt bitte kurz bei einem der Vorstandsmitglieder Bescheid, dann können wir euch auch den Ort mitteilen.<br />
  </main>
</section>
<!--
<section class="sidebarBlock">
  <header>
    Auch in Aachen
  </header>
  <main>
    <div class="tc">
      <strong>Der 2-wöchige</strong>
    </div>
    <a href="https://rpg-aachen.de">
      <img src="/img/flyer_rpg-aachen.jpg" />
    </a>
  </main>
</section>
-->
