{{ $releases := getJSON "/static/multiversum/releases.json" }}
<div class="multiversumTable">
  <table class="multiversumReleases">
    <thead>
      <th class="release">Ausgabe</th>
      <th class="quote">Losung</th>
      <th class="size">Größe</th>
    </thead>
    <tbody>
      {{ range sort $releases "id" "desc" }}
        {{ $file := ( printf "/multiversum/%s.pdf" .id ) }}
        <tr>
          <td class="release">
            <a href="{{ relURL $file }}">
              {{ .id }} – {{ .date }}
            </a>
          </td>
          <td class="quote">
            {{ .quote }}
          </td>
          <td class="size">
            {{ .size }}
          </td>
        </tr>
      {{ end }}
    </tbody>
  </table>
</div>
