{{/* add script for dynamic interaction */}}
<script src="/js/titleList.js" async="true"></script>
{{/* fetch JSON from file */}}
{{ $titles := getJSON "https://liberation.rpg-librarium.de/v1/titles?recursive=true" }}
{{/* generate HTML */}}
<div class="titlesTable">
  <table class="titles">
    <thead>
      <th class="title">Titel</th>
      <th class="system">System</th>
    </thead>
    <tbody>
      {{/* iterate over the entries and sort them descending by the id property */}}
      {{ range sort $titles ".rpg_system.name" "asc"}}
        {{/* compute the pdf file path */}}
        <tr>
          <td class="title">
            {{ .name }}
          </td>
          <td class="system">
            {{ .rpg_system.name }}
          </td>
        </tr>
      {{ end }}
    </tbody>
  </table>
  <div class="updatedAt">
    Stand:
    <time datetime="{{ .Site.LastChange.Format "2006-01-02" }}">
      {{ .Site.LastChange.Format "02.01.2006" }}
    </time>
    <div class="updating"></div>
  </div>
</div>
