{{/* fetch JSON from file */}}
{{ $titles := getJSON "https://liberation.rpg-librarium.de/v1/titles?recursive=true" }}
{{/* generate HTML */}}
<div class="multiversumTable">
  <table class="titles">
    <thead>
      <th class="title">Title</th>
      <th class="system">System</th>
    </thead>
    <tbody>
      {{/* iterate over the entries and sort them descending by the id property */}}
      {{ range sort $titles ".rpg_system.name" "asc"}}
        {{/* compute the pdf file path */}}
        <tr>
          <td class="title">
            {{ .name }}
          </td>
          <td class="system">
            {{ .rpg_system.name }}
          </td>
        </tr>
      {{ end }}
    </tbody>
  </table>
</div>
